.block-image
    img
        height: auto
        max-width: 100%
    figcaption
        .episode
            color: $color
            font-size: px2rem(18)
            font-weight: bold
            text-transform: uppercase
            padding-left: col(4, 12)
        .alt
            padding-left: col(7, 12)
            padding-right: col(2, 12)